<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="campuslifecenter.notice.mapper.DynamicTodoObserveMapper">
  <resultMap id="BaseResultMap" type="campuslifecenter.notice.entry.DynamicTodoObserve">
    <id column="nid" jdbcType="BIGINT" property="nid" />
    <id column="tid" jdbcType="INTEGER" property="tid" />
    <result column="is_finish" jdbcType="BIT" property="isFinish" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    nid, tid, is_finish
  </sql>
  <select id="selectByExample" parameterType="campuslifecenter.notice.entry.DynamicTodoObserveExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dynamic_todo_observe
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="campuslifecenter.notice.entry.DynamicTodoObserveExample">
    delete from dynamic_todo_observe
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="campuslifecenter.notice.entry.DynamicTodoObserve">
    insert into dynamic_todo_observe
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nid != null">
        nid,
      </if>
      <if test="tid != null">
        tid,
      </if>
      <if test="isFinish != null">
        is_finish,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nid != null">
        #{nid,jdbcType=BIGINT},
      </if>
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="isFinish != null">
        #{isFinish,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="campuslifecenter.notice.entry.DynamicTodoObserveExample" resultType="java.lang.Long">
    select count(*) from dynamic_todo_observe
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dynamic_todo_observe
    <set>
      <if test="record.nid != null">
        nid = #{record.nid,jdbcType=BIGINT},
      </if>
      <if test="record.tid != null">
        tid = #{record.tid,jdbcType=INTEGER},
      </if>
      <if test="record.isFinish != null">
        is_finish = #{record.isFinish,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dynamic_todo_observe
    set nid = #{record.nid,jdbcType=BIGINT},
      tid = #{record.tid,jdbcType=INTEGER},
      is_finish = #{record.isFinish,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="campuslifecenter.notice.entry.DynamicTodoObserve">
    update dynamic_todo_observe
    <set>
      <if test="isFinish != null">
        is_finish = #{isFinish,jdbcType=BIT},
      </if>
    </set>
    where nid = #{nid,jdbcType=BIGINT}
      and tid = #{tid,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="campuslifecenter.notice.entry.DynamicTodoObserveExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dynamic_todo_observe
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>