<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="campuslifecenter.notice.mapper.DynamicOrganizationObserveMapper">
  <resultMap id="BaseResultMap" type="campuslifecenter.notice.entry.DynamicOrganizationObserve">
    <id column="nid" jdbcType="BIGINT" property="nid" />
    <id column="oid" jdbcType="INTEGER" property="oid" />
    <result column="is_belong" jdbcType="BIT" property="isBelong" />
    <result column="is_subscribe" jdbcType="BIT" property="isSubscribe" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    nid, oid, is_belong, is_subscribe
  </sql>
  <select id="selectByExample" parameterType="campuslifecenter.notice.entry.DynamicOrganizationObserveExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dynamic_organization_observe
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="campuslifecenter.notice.entry.DynamicOrganizationObserveExample">
    delete from dynamic_organization_observe
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="campuslifecenter.notice.entry.DynamicOrganizationObserve">
    insert into dynamic_organization_observe
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nid != null">
        nid,
      </if>
      <if test="oid != null">
        oid,
      </if>
      <if test="isBelong != null">
        is_belong,
      </if>
      <if test="isSubscribe != null">
        is_subscribe,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nid != null">
        #{nid,jdbcType=BIGINT},
      </if>
      <if test="oid != null">
        #{oid,jdbcType=INTEGER},
      </if>
      <if test="isBelong != null">
        #{isBelong,jdbcType=BIT},
      </if>
      <if test="isSubscribe != null">
        #{isSubscribe,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="campuslifecenter.notice.entry.DynamicOrganizationObserveExample" resultType="java.lang.Long">
    select count(*) from dynamic_organization_observe
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dynamic_organization_observe
    <set>
      <if test="record.nid != null">
        nid = #{record.nid,jdbcType=BIGINT},
      </if>
      <if test="record.oid != null">
        oid = #{record.oid,jdbcType=INTEGER},
      </if>
      <if test="record.isBelong != null">
        is_belong = #{record.isBelong,jdbcType=BIT},
      </if>
      <if test="record.isSubscribe != null">
        is_subscribe = #{record.isSubscribe,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dynamic_organization_observe
    set nid = #{record.nid,jdbcType=BIGINT},
      oid = #{record.oid,jdbcType=INTEGER},
      is_belong = #{record.isBelong,jdbcType=BIT},
      is_subscribe = #{record.isSubscribe,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="campuslifecenter.notice.entry.DynamicOrganizationObserve">
    update dynamic_organization_observe
    <set>
      <if test="isBelong != null">
        is_belong = #{isBelong,jdbcType=BIT},
      </if>
      <if test="isSubscribe != null">
        is_subscribe = #{isSubscribe,jdbcType=BIT},
      </if>
    </set>
    where nid = #{nid,jdbcType=BIGINT}
      and oid = #{oid,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="campuslifecenter.notice.entry.DynamicOrganizationObserveExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dynamic_organization_observe
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>