.dark {
  border-color: #7B98C8;
  color: rgba(255, 255, 255, 0.9);
  a {
      text-decoration: none;
      color: rgba(242, 213, 3, 0.75);
      &:hover {
          color: rgba(242, 213, 3, 0.5);
          border-bottom: solid rgba(242, 213, 3, 0.5) 2px;
      }
  }
}
@d-fg: white;
@d-afg: #f2d503;
@d-shadow: #0004;
@d-bg: #45474A;
@d-bg2: rgba(255, 255, 255, 0.2);
@d-bg4: rgba(255, 255, 255, 0.4);
@d-bg5: rgba(255, 255, 255, 0.5);

.light {
  border-color: rgb(132, 103, 55);
  color: rgba(0, 0, 0, 0.9);
  a {
      text-decoration: none;
      color: #0d2afcbf;
      &:hover {
          color: rgba(13, 42, 252, 0.5);
          border-bottom: solid rgba(13, 42, 252, 0.5) 2px;
      }
  }
}
@l-fg: black;
@l-afg: #0d2afc;
@l-bg: #f7f7f7;
@l-bg2: rgba(64, 64, 64, 0.2);
@l-bg4: rgba(64, 64, 64, 0.4);
@l-bg5: rgba(64, 64, 64, 0.5);